<?xml version="1.0" encoding="utf-8"?>
<manifest package="ca.amandeep.playernumber"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".PlayerNumberApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/Theme.Design.NoActionBar">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="83f6e6b9b19521f64113f4df1b53506c57abc5de"/>

    </application>

</manifest>
